*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  padding: 6px 0;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.content {
  min-width: 1200px; /* проверить необходимость */
  padding: 0 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: flex-end;
}

.result {

}

.result__video-container {
  margin-bottom: 16px;
  min-width: 711px;
  min-height: 386px;
}

.result__video {
  min-width: 711px;
  min-height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {

}

.search-form__label-text {

}

.search-form__textfield {
  inline-size: 225px;
  background: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  opacity: 0.7;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__checkbox-list {

}

.search-form__checkbox {

}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
}

.search-form__submit-button {
  inline-size: 194px;
  align-self: end;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 26px;
}

.title {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list {
  max-height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.preloader-template {

}

.cards-list-item-template {

}

.content__list-item {

}

.content__card-link {

}

.content__video-card {
  display: flex;
  align-items: flex-start;
}


.content__video-card-description-container {

}

.content__video-card-title {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.content__video-card-description {
  width: 200px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 0.9em;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.more-button-template {

}

.more-button {
  inline-size: 100%;
}

.error-template {

}

