*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  border: 1px solid currentColor;
  padding: 6px 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  background: transparent;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.button:active {
  text-decoration: none;
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:not(:active):focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  margin: auto;
  padding: 0 30px;
  inline-size: 1200px;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 711px;
  block-size: 386px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 4px;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  border: 1px solid;
  border-color: currentColor transparent;
  padding-left: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: transparent;
  appearance: none;
  inline-size: 225px;
}

.search-form__textfield::placeholder {
  opacity: 0.7;
  color: #fff;
}

.search-form__textfield:active {
  border: 1px solid currentColor;
  border-radius: 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible:not(:active)) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list > .search-form__label:hover  {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.search-form__checkbox-list > .search-form__label:focus  {
  outline: none;
}

.search-form__checkbox-list > .search-form__label:not(:active):focus-visible  {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  background-color: currentColor;
  min-inline-size: 15px;
  min-block-size: 15px;
}

.search-form__checkbox-list > .search-form__label:active > .search-form__pseudo-checkbox::after {
  content: '';
  background-color: currentColor;
  min-inline-size: 15px;
  min-block-size: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__submit-button {
  align-self: end;
  inline-size: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 22px;
  inline-size: 399px;
}

.title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  block-size: 298px;
}

.content__list::-webkit-scrollbar {
  width: 8px;
  background-color: #aaa;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #000;
}

.content__list::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline #fff;
}

.content__card-link:active {
  text-decoration: none;
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  margin: 3px;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  inline-size: 200px;
  min-block-size: 107px;
}

.content__video-card-title {
  overflow: hidden;
  color: #fff;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  overflow: hidden;
  overflow-wrap: break-word;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9em;
  inline-size: 200px;
  block-size: 100%;
}

.content__video-card-thumbnail {
  align-self: center;
  object-fit: cover;
  object-position: center;
  inline-size: 194px;
  block-size: 103px;
}

.more-button {
  inline-size: 100%;
}

.more-button:not(:active):focus-visible {
  margin: 0 2px 2px;
  inline-size: calc(100% - 4px);
}
